<% provide(:title, 'Select Favorite Pet') %>
<h1>Select Favorite Pet</h1>
<div class='row'>
  <%= form_for @pet, url: { controller: 'pets', action: 'create' } do %> 
    <% render 'shared/error_messages', object: @pet.object %> 
    <% @pet_search['pets']['pet'].each do |pet| %>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4'>
        <h3 class='text-center'><%= "#{ pet['name'] }" %></h3>
        <%= image_tag pet['pic1'], class: 'img-responsive center',
            alt: "#{ pet['name'] } please adopt me" %>
        <p class='text-center'>
          <%= "#{ pet['name'] } is on #{ Pet.num_of_matches(pet) }" %>
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <%= "   other favorite's list." %>
          <br />
          <%= label_tag "animalID#{ pet['animalID']}", 'Add to your Favorite\'s list.' %>
          <%= check_box_tag "animalID#{ pet['animalID']}", pet['animalID'] %>
        </p>
      </div>
    <% end %>
    <br />
    <div class='clearfix'></div>
    <div class='center'>
      <%= submit_tag "Save selected matches to Favorites" %>
    </div>
  <% end %>
  <br />
</div>