<% provide(:title, @pet.name) %>
<h1><%= @pet.name %></h1>
<h3><%= "Favorited by #{ Pet.find(@pet.id).users.length } Users" %></h3>


<% if @pet.video1 %>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="#{ @pet.video1 }"></iframe>
  </div>
<% elsif @pet.videoUrl1 %>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="#{ @pet.videoUrl1 }"></iframe>
  </div>
<% else @pet.pic1 %>
  <%= image_tag(@pet.pic1) %>
<% end %>
</div>
<div>
<%= h@pet.description.html_safe  %>
</div>
<ul>
  <li><%= "species      #{ @pet.species }"  %></li>
  <li><%= "breed:       #{ @pet.breed }"  %></li>
  <li><%= "gender:      #{ @pet.sex }"  %></li>
  <li><%= "age:         #{ @pet.age }"  %></li>
  <li><%= "color:       #{ @pet.color }"  %></li>
  <li><%= "animalID:    #{ @pet.animalID }"  %></li>
  <li><%= "orgID:       #{ @pet.orgID }"  %></li>
  <li><%= "videoUrl1:   #{ @pet.videoUrl1 }"  %></li>
  <li><%= "video1:      #{ @pet.video1 }"  %></li>
  <li><%= "pic1:        #{ @pet.pic1 }"  %></li>
  <li><%= "pictmn1:     #{ @pet.pictmn1 }"  %></li>
  <li><%= "pic2:        #{ @pet.pic2 }"  %></li>
  <li><%= "pictmn2:     #{ @pet.pictmn2 }"  %></li>
  <li><%= "pic3:        #{ @pet.pic3 }"  %></li>
  <li><%= "pictmn3:     #{ @pet.pictmn3 }"  %></li>
  <li><%= "pic4:        #{ @pet.pic4 }"  %></li>
  <li><%= "pictmn4:     #{ @pet.pictmn4 }"  %></li>

</ul>
<br />
<%= link_to 'delete', @pet, method: :delete,
      data: { confirm: 'Are you sure?' } %>



