<% provide(:title, 'Add User') %>
<h1>Add User</h1>

<%= render 'users/fields' %>


<div>
<%= form_for @pet, url: { controller: 'pets', action: 'create' } do %>  
  <%= hidden_field_tag(:user, @user.id) %>
  <% pets = Pet.search %>
  <% pets['pets']['pet'].each do |pet| %>
  <%= "#{ pet['name'] }" %><br />
  <img src="<%= pet['pic1'] %>" /><br />
    <%= check_box_tag "animalID#{ pet['animalID']}", pet['animalID'] %>
    <br />
    <p><%= "Is on #{ Pet.find(pet['id']).user.length } other favorite's list." %></p>
  <% end %>
    <br />
      <%= submit_tag("Save selected matches to Favorites") %>
<% end %>
</div>