<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<h3><%= "Welcome Administrator" if current_user.admin %></h3>



<% if current_user.admin? %>
  <%= link_to "Edit Users List", users_path %>
  <br />
  <%= link_to "Edit Pets List", pets_path %>
  <br />
<% else %>
  <p><%= @user.profile %></p>
  <p><%= "You have #{ User.find(@user.id).pets.length } Favorites" %></p>
  <% User.find(@user.id).pets.each do | pet_match | %>
    <p>
      <%= link_to pet_match.name, pet_path(pet_match.id) %>
      <%= "Favorited by #{ Pet.find(pet_match.id).users.length } Users" %><br />
      <%= link_to "Remove #{ pet_match.name } from Favorites", pet_match, method: :delete %>
    </p>

  <% end %>
  <br />
  <%= link_to 'Find Favorites Pets', new_pet_path, class: 'center' %>
  <br />  
<% end %>


