<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<p><%= @user.profile %></p>


<div>
<%= form_for @pet, url: { controller: 'pets', action: 'create' } do %>  
  <%= hidden_field_tag(:user, value: @user) %>
  <% pets = Pet.search %>
  <% pets['pets']['pet'].each do |pet| %>
  <%= "#{ pet['name'] }" %><br />
  <img src="<%= pet['pic1'] %>" /><br />
    <%= check_box_tag "animalID#{ pet['animalID']}", pet['animalID'] %>
    <br />
  <% end %>
    <br />
      <%= submit_tag("Save selected matches to Favorites") %>
<% end %>
</div>

<%= link_to "Edit this User", edit_user_path(@user) %>
<%= link_to "Back to the list", users_path %>
393710