<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<h3><%= "Welcome Administrator" if current_user.admin %></h3>



<% if current_user.admin? %>
  <%= link_to "Edit Users List", users_path %>
  <br />
  <%= link_to "Edit Pets List", pets_path %>
  <br />
<% else %>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-6'>
      <p><%= @user.profile %></p>
      <h3><%= "You have #{ User.find(@user.id).pets.length }" %>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <%= " Favorites" %>
      </h3>
      <% User.find(@user.id).pets.each do | pet_match | %>
        <p>
          <%= link_to pet_match.name, pet_path(pet_match.id) %>
          <%= "Favorited by #{ Pet.find(pet_match.id).users.length } Users" %><br />
          <%= link_to "Remove #{ pet_match.name } from Favorites", pet_match, method: :delete %>
        </p>

      <% end %>
      <br />
      <%= link_to 'Find Favorites Pets', new_pet_path,  
          data: { 
            confirm: 'Querying may take a few minutes before displaying results. Proceed?' 
          } %>
      <br />  
    </div>

    <div class='grey col-xs-12 col-sm-12 col-md-6'>
      <div id="carousel-user-pet" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <% User.find(@user.id).pets.each_index do | id | %>
            <% if id == 0 %>
              <%= tag("li", class: "active", 
                  data: { slide_to: "#{ id }", 
                  target: "#carousel-user-pet" }) %>
            <% else %>
              <%= tag("li", 
                  data: { slide_to: "#{ id }", 
                  target: "#carousel-user-pet" }) %>
            <% end %>
          <% end %>
        </ol>

  
        <div class="carousel-inner" role="listbox">
          <% User.find(@user.id).pets.each_with_index do | pet, id | %>
            <% if id == 0  %>
              <div class="item active"> 
            <% else %>
              <div class="item">
            <% end %>  
              <%= image_tag(pet.pic1, 
                  alt: "#{ pet.name } - Please Adopt Me") %>
              <div class="carousel-caption">
                <h3><%= "#{ pet.name }" %></h3>
              </div>
            </div>
          <% end %>


        <a class="left carousel-control" href="#carousel-user-pet" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-user-pet" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
<% end %>


